
html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: fixed;
	width: 100vw;
	height: 100vh;
}
body {
	/*background: url("../images/icons/loadIcon.gif");*/
	background-repeat: no-repeat;
	background-position: 50vw 50vh;
	background-size: 50px 50px;
}


