











#sideBar {
	position: absolute;
	left: 0;
	top: 0;

	width: calc(300px - 20px * 2);
	height: calc(100vh - 20px * 2);

	padding: 20px;

	/*background: #2B3646;*/
	/*background: #00b;*/
	background: #60b;
	
	box-shadow: 5px 0 20px 5px rgba(0, 0, 0, 0.08);
	z-index: 10;

	transition: left .32s, opacity .5s;
}


body.appLoading #sideBar {
	left: -50px;
	opacity: 0;
}




	#sideBar .sideBarBackground {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.7;
	}



	#sideBar .header {
		position: relative;
		height: 20px;
		
		padding: 6px 0;
	}

		#sideBar .header .headerIcon {
			position: relative;
			float: left;
			height: 20px;
			width: auto;

			margin-right: 9px;
			opacity: 0.9;
		}
		#sideBar .header .headerIcon.dropDownButton {
			left: 3px;
			height: 15px;
			padding: 2.5px;
			transition: all 0.2s;
		}

		#sideBar .header .headerIcon.dropDownButton.close {
			transform: rotateZ(-90deg);
		}


		
		#sideBar .header .headerText {
			float: left;
			max-width: calc(100% - 25px);
		
			font-size: 17px;
			color: #fafafa;
			line-height: 20px;
		}


	#sideBar .header.small {
		padding: 7px 0;
	}

		#sideBar .header.small .headerIcon {
			top: 1px;
			height: 16px;
		}
		#sideBar .header.small .headerText {
			font-size: 14px;
		}





	#sideBar .projectListHolder .projectList {
		position: relative;
		padding-left: 9px;
		
		overflow: hidden;
		top: 0;
		max-height: calc(100vh - 135px);
		overflow: auto;
		transition: all 0.45s;
	}
	
	#sideBar .projectListHolder .projectList.hide {
		transition: all 0.3s;
		top: -20px;
		opacity: 0;
		max-height: 0;
		pointer-events: none;
	}



















@media screen and (max-width: 600px) {
	#sideBar {
		left: -300px;
		box-shadow: none;
	}
}







