











#sideBar {
	position: absolute;
	left: 0;
	top: 0;

	width: 300px;
	height: calc(100vh - 20px * 2);

	padding: 20px 0;

	background: #60b;
	
	box-shadow: 5px 0 20px 5px rgba(0, 0, 0, 0.08);
	z-index: 10;

	transition: left .32s, opacity .5s, background .3s;
}

body.noConnection #sideBar {
	background: #000;
}

body.appLoading #sideBar {
	left: -50px;
	opacity: 0;
}




	#sideBar .sideBarBackground {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		transition: filter .3s;
	}

	body.noConnection #sideBar .sideBarBackground {
		filter: grayscale(1);
	}





	#sideBar .tab {
		position: relative;
		height: 20px;
		
		padding: 6px 20px;

		opacity: .9;

		transition: all .2s, background-position .2s;
		background: linear-gradient(to right, rgba(255, 255, 255, .15), rgba(255, 255, 255, .0));
		background-repeat: no-repeat;
		background-position: -300px 0;
	}

	#sideBar .tab.tabOpen {
		opacity: 1;
		background-position: 0 0;
	}

	#sideBar .tab.tabOpen div {
		color: #fff;
	}



		#sideBar .header .headerIcon {
			position: relative;
			float: left;
			height: 20px;
			width: auto;

			margin-right: 9px;
			opacity: 0.9;
		}
		#sideBar .header .headerIcon.dropDownButton {
			left: 3px;
			height: 15px;
			padding: 2.5px;
			transition: all 0.2s;
		}

		#sideBar .header .headerIcon.dropDownButton.close {
			transform: rotateZ(-90deg);
		}


		
		#sideBar .header .headerText {
			float: left;
			max-width: calc(100% - 25px);
		
			font-size: 17px;
			color: #f5f5f5;
			line-height: 20px;
		}




	#sideBar .tab.projectTab {
		padding: 7px 20px;
		padding-left: 29px;
	}

		#sideBar .tab.projectTab .headerIcon {
			top: 1px;
			height: 16px;
		}
		#sideBar .tab.projectTab .headerText {
			font-size: 14px;
		}



	#sideBar .projectListHolder .projectList {
		position: relative;
		
		overflow: hidden;
		top: 0;
		max-height: calc(100vh - 135px);
		overflow: auto;
		transition: all 0.45s;
	}


	#sideBar .projectListHolder .projectList.hide {
		transition: all 0.3s;
		top: -20px;
		opacity: 0;
		max-height: 0;
		pointer-events: none;
	}

	body.noConnection #sideBar .projectListHolder .projectList {
		max-height: calc(100vh - 135px - 112px);
	}



	#sideBar .noConnectionMessage {
		position: absolute;
		bottom: 20px;

		width: calc(100% - 30px * 2);
		height: auto;
		padding: 12px 0;
		border-top: 1px solid rgba(255, 255, 255, .1);
		transition: all .3s;
	}
	body:not(.noConnection) #sideBar .noConnectionMessage {
		bottom: -75px;
	}

	#sideBar .noConnectionMessage .text {
		margin-left: 47px;
	}












@media screen and (max-width: 600px) {
	#sideBar {
		left: -300px;
		box-shadow: none;
	}
}







