#mainContentHeader {
	position: relative;
	left: 35px;
	top: 0;

	width: calc(100% - 35px);
	height: 30px;

	padding: 15px 0;
	padding-bottom: 10px;

	background: rgba(255, 255, 255, 0.95);

	border-bottom: 1px solid #eee;
	transition: all 0.2s;
}

#mainContentHeader.hide {
	opacity: 0;
	pointer-events: none;
}



	#mainContentHeader .titleHolder {
		position: relative;
		float: left;
		left: 0;
		top: 0;
		height: 30px;
		width: 100%;

		font-size: 18px;
		color: #999;
		line-height: 30px;
	}






	#mainContentHeader .functionHolder {
		position: absolute;
		float: right;
		right: 0;
		top: 20px;

		height: 30px;
		width: auto;

		box-shadow: -10px -5px 10px 10px #fff;
		background: #fff;
	}

		 .functionItem {
			position: relative;
			float: right;

			height: 20px;
			padding: 5px 0;

			margin-left: 12px;
			line-height: 20px;
		}

		.functionHolder .functionItem.hide {
			display: none;
		}









		.functionItem.backButton {
			top: -5px; 
			width: 75px;
			margin-left: -5px;
			opacity: 0.6; 
		}
			.functionItem.backButton .icon {
				transform: rotate(-90deg) scale(0.8);
			}
			.functionItem.backButton .text  {
				margin-right: -30px;
				margin-left: -5px;
				top: -1px;
			}







		.functionItem.button {
			height: 14px;
			line-height: 14px;
		}

		.functionHolder .memberList {
			margin-right: -3px;
		
			color: #bbb;
			font-size: 14px;
		}




		.functionHolder .icon {
			position: relative;
			opacity: 0.3;
			height: 26px;
			transition: all 0.15s;
		}

		.functionHolder .icon:hover {
			opacity: 0.4;
		}

		#mainContentHeader .functionHolder .icon {
			padding: 10px;
			margin: -10px;
			margin-left: 5px;
			top: 0;
		}



