





#mainContent {
	position: absolute;
	right: 0;
	top: 0;

	width: calc(100vw - 300px - 25px);
	height: calc(100vh);
	padding-right: 25px;

	transition: transform .3s, opacity .3s;
}


body.appLoading #mainContent {
	opacity: 0;
}


#mainContent.loading {
	/*transition: transform .2s;*/
	opacity: 0 !important;
	transform: scale(.9);
}











.smallTextHolder {
	position: relative;
	height: 25px;
}

	.smallTextHolder .smallText {
		position: relative;
		float: left;
		height: 25px;
		line-height: 25px;

		color: #7592BF;
		font-size: 13px;
		margin-left: 8px;
	}

	.smallTextHolder .smallTextIcon {
		margin-left: 5px;
		font-size: 20px;
		line-height: 21px;
	}




	#sideBar .smallTextHolder {
		left: -6px;
	}
	#sideBar .smallTextHolder .smallText {
		color: rgba(255, 255, 255, 0.4);
		font-size: 12px;
	}
	#sideBar .smallTextHolder .smallText.smallTextIcon {
		/*left: 1.5px;*/
		font-size: 18px;
	}

































#mainContentHolder {
	position: relative;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}


	#mainContentHolder .mainContentPage {
		position: absolute;
		
		width: calc(100% - 5px * 2 - 35px);
		height: calc(100vh - 56px);
		
		padding: 0 5px;
		padding-left: 35px;
		padding-right: 30px;

		overflow-x: hidden;
		overflow-y: auto;

		transition: opacity 0.3s;
	}

	#mainContentHolder .mainContentPage.hide {
		pointer-events: none;
		opacity: 0;
	}
		
	#mainContentHolder .mainContentPage.doNotAlignLeft {
		width: calc(100% - 5px * 2);
		padding-left: 0;
	}



		.mainContentPage .loadMoreButton {
			position: relative;
			left: 35px;
			margin-bottom: 20px;
		}
		
		.mainContentPage .loadMoreButton.hide {
			opacity: 0;
			pointer-events: none;
		}


































	#mainContentHolder .mainContentPage.createProjectPage {
		text-align: center;
	}

		.createProjectPage .createProjectHolder {
			position: relative;
			width: calc(100% - 35px);
			top: calc(15vh);
			height: 80px;
		}
			.createProjectHolder .inputField {
				width: calc(100% - 50px);
				max-width: 400px;
			}
















	#mainContentHolder .mainContentPage.settingsPage {
	}

		.mainContentPage.settingsPage .inviteMemberHolder {
			position: relative;
			margin: auto;
			max-width: 650px;
			padding-top: 40px;
			padding-bottom: 20px;
		}

			.mainContentPage.settingsPage .inviteMemberHolder .inputField {
				width: calc(100% - 100px);
				margin-right: 5px;
			}





		.mainContentPage.settingsPage .memberHolder {
			position: relative;
			margin: auto;
			max-width: 650px;
			padding-top: 40px;
		}


			.listItem.memberItem {
				position: relative;
				transition: all 0.3s;
			}

			.listItem.memberItem .mainIcon {
				top: 3px;
				width: 15px;
				height: 15px;
			}


		.mainContentPage.settingsPage div.leaveButton {
			position: relative;
			top: 8px;
			left: 2px;
			margin: auto;
			height: 20px;
			max-width: 650px;

			line-height: 20px;
			color: #f00;
		}

		.mainContentPage.settingsPage div.leaveButton img {
			position: relative;
			top: 3px;
			height: 16px;
			width: auto;
		}




















	#mainContentHolder .todoListHolder {
		position: relative;

		width: 100%;
		height: auto;
			
		overflow: show;
	}



















	#mainContentHolder .optionMenuHolder.searchOption {
		padding: 5px 8px;
	}
		.optionMenuHolder.searchOption .optionItem {
			border: none;
		}

			.optionMenuHolder.searchOption .optionItem .statusCircle {
				position: relative;
				left: 0;
				top: 3px;

				width: 11px;

				height: 11px;
				border-radius: 100%;

				border: 2px solid #ccc;
				background: rgba(0, 0, 0, 0.02);
				opacity: 1;
			}
			.optionMenuHolder.searchOption .optionItem .optionText {
				width: calc(100% - 25px);
				left: 22px;
			}
		














@media screen and (max-width: 600px) {
	#mainContent {
		width: calc(100vw + 10px);
		padding-left: 0;
		padding-right: 5px;
	}

	.todoHolder .functionItem.projectHolder {
		display: none;
	}
}
