





#mainContent {
	position: absolute;
	right: 0;
	top: 0;

	width: calc(100vw - 300px - 25px);
	height: calc(100vh);
	padding-right: 25px;

	background: #fff;
	transition: opacity 0.3s;
}

#mainContent.animatePageChange {
	opacity: 0;	
}











.smallTextHolder {
	position: relative;
	height: 25px;
}

	.smallTextHolder .smallText {
		position: relative;
		float: left;
		height: 25px;
		line-height: 25px;

		color: #7592BF;
		font-size: 13px;
		margin-left: 8px;
	}

	.smallTextHolder .smallTextIcon {
		margin-left: 5px;
		font-size: 20px;
		line-height: 21px;
	}




	#sideBar .smallTextHolder {
		left: -6px;
	}
	#sideBar .smallTextHolder .smallText {
		color: rgba(255, 255, 255, 0.4);
		font-size: 12px;
	}
	#sideBar .smallTextHolder .smallText.smallTextIcon {
		/*left: 1.5px;*/
		font-size: 18px;
	}


















#mainContentHeader {
	position: relative;
	left: 35px;
	top: 0;

	width: calc(100% - 35px);
	height: 30px;

	padding: 15px 0;
	padding-bottom: 10px;

	background: rgba(255, 255, 255, 0.95);

	border-bottom: 1px solid #eee;
	transition: all 0.2s;
}

#mainContentHeader.hide {
	opacity: 0;
	pointer-events: none;
}




	#mainContentHeader .titleHolder {
		position: relative;
		float: left;
		left: 0;
		top: 0;
		height: 30px;
		width: 100%;

		font-size: 18px;
		color: #999;
		line-height: 30px;
	}






	#mainContentHeader .functionHolder {
		position: absolute;
		float: right;
		right: 0;
		top: 20px;

		height: 30px;
		width: auto;

		box-shadow: -10px -5px 10px 10px #fff;
		background: #fff;
	}

		.functionHolder .functionItem {
			position: relative;
			float: right;

			height: 20px;
			padding: 5px 0;

			margin-left: 12px;
			line-height: 20px;
		}
		.functionItem.button {
			height: 14px;
			line-height: 14px;
		}

		.functionHolder .memberList {
			margin-right: -3px;
		
			color: #bbb;
			font-size: 14px;
		}




		.functionHolder .icon {
			position: relative;
			opacity: 0.3;
			height: 26px;
			transition: all 0.15s;
		}

		.functionHolder .icon:hover {
			opacity: 0.4;
		}

		#mainContentHeader .functionHolder .icon {
			padding: 10px;
			margin: -10px;
			margin-left: 5px;
			top: 0;
		}





















#mainContentHolder {
	position: relative;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}


	#mainContentHolder .mainContentPage {
		position: absolute;
		
		width: calc(100% - 5px * 2 - 35px);
		height: calc(100vh - 56px);
		
		padding: 0 5px;
		padding-left: 35px;
		padding-right: 30px;

		overflow-x: hidden;
		overflow-y: auto;

		transition: opacity 0.3s;
	}

	#mainContentHolder .mainContentPage.hide {
		pointer-events: none;
		opacity: 0;
	}
		
	#mainContentHolder .mainContentPage.doNotAlignLeft {
		width: calc(100% - 5px * 2);
		padding-left: 0;
	}



		.mainContentPage .loadMoreButton {
			position: relative;
			left: 35px;
			margin-bottom: 20px;
		}
		
		.mainContentPage .loadMoreButton.hide {
			opacity: 0;
			pointer-events: none;
		}


































	#mainContentHolder .mainContentPage.createProjectPage {
		text-align: center;
	}

		.createProjectPage .createProjectHolder {
			position: relative;
			width: calc(100% - 35px);
			top: calc(15vh);
			height: 80px;
		}
			.createProjectHolder .inputField {
				width: calc(100% - 90px);
				max-width: 400px;
			}
















	#mainContentHolder .mainContentPage.settingsPage {
	}

		.mainContentPage.settingsPage .inviteMemberHolder {
			position: relative;
			margin: auto;
			max-width: 650px;
			padding-top: 40px;
			padding-bottom: 20px;
		}

			.mainContentPage.settingsPage .inviteMemberHolder .inputField {
				width: calc(100% - 100px);
				margin-right: 5px;
			}





		.mainContentPage.settingsPage .memberHolder {
			position: relative;
			margin: auto;
			max-width: 650px;
			padding-top: 40px;
		}


			.listItem.memberItem {
				position: relative;
				transition: all 0.3s;
			}

			.listItem.memberItem .mainIcon {
				width: 15px;
				height: 15px;
			}


		.mainContentPage.settingsPage div.leaveButton {
			position: relative;
			top: 8px;
			left: 4px;
			margin: auto;
			height: 20px;
			max-width: 650px;

			line-height: 20px;
			color: #f00;
		}

		.mainContentPage.settingsPage div.leaveButton img {
			position: relative;
			top: 1px;
			height: 12px;
			width: auto;
		}




















	#mainContentHolder .todoListHolder {
		position: relative;

		width: 100%;
		height: auto;
			
		overflow: show;
	}



















	#mainContentHolder .optionMenuHolder.searchOption {
		padding: 5px 8px;
	}
		.optionMenuHolder.searchOption .optionItem {
			border: none;
		}

			.optionMenuHolder.searchOption .optionItem .statusCircle {
				position: relative;
				left: 0;
				top: 3px;

				width: 11px;

				height: 11px;
				border-radius: 100%;

				border: 2px solid #ccc;
				background: rgba(0, 0, 0, 0.02);
				opacity: 1;
			}
			.optionMenuHolder.searchOption .optionItem .optionText {
				width: calc(100% - 25px);
				left: 22px;
			}
		














@media screen and (max-width: 600px) {
	#mainContent {
		width: calc(100vw - 15px * 2);
		padding-left: 15px;
		padding-right: 15px;
	}
}
